TraderMarket/Service References/ProdService/ProdService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProdService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54100/ProdService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54100/ProdService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54100/ProdService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Commonlayer.Views" />
      <xsd:import schemaLocation="http://localhost:54100/ProdService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Commonlayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProdService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IProdService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProdService_GetProducts1_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts1" />
  </wsdl:message>
  <wsdl:message name="IProdService_GetProducts1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts1Response" />
  </wsdl:message>
  <wsdl:message name="IProdService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IProdService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProdService_GetProductsAccordingToSubCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsAccordingToSubCategory" />
  </wsdl:message>
  <wsdl:message name="IProdService_GetProductsAccordingToSubCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsAccordingToSubCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IProdService_ControlStock_InputMessage">
    <wsdl:part name="parameters" element="tns:ControlStock" />
  </wsdl:message>
  <wsdl:message name="IProdService_ControlStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:ControlStockResponse" />
  </wsdl:message>
  <wsdl:message name="IProdService_GetProductV_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductV" />
  </wsdl:message>
  <wsdl:message name="IProdService_GetProductV_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductVResponse" />
  </wsdl:message>
  <wsdl:message name="IProdService_GetProductID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductID" />
  </wsdl:message>
  <wsdl:message name="IProdService_GetProductID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductIDResponse" />
  </wsdl:message>
  <wsdl:message name="IProdService_CheckStock_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStock" />
  </wsdl:message>
  <wsdl:message name="IProdService_CheckStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStockResponse" />
  </wsdl:message>
  <wsdl:message name="IProdService_GetStock_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStock" />
  </wsdl:message>
  <wsdl:message name="IProdService_GetStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockResponse" />
  </wsdl:message>
  <wsdl:message name="IProdService_GetProductsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsList" />
  </wsdl:message>
  <wsdl:message name="IProdService_GetProductsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsListResponse" />
  </wsdl:message>
  <wsdl:portType name="IProdService">
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdService/GetProducts" message="tns:IProdService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdService/GetProductsResponse" message="tns:IProdService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts1">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdService/GetProducts1" message="tns:IProdService_GetProducts1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdService/GetProducts1Response" message="tns:IProdService_GetProducts1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdService/GetProduct" message="tns:IProdService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdService/GetProductResponse" message="tns:IProdService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsAccordingToSubCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdService/GetProductsAccordingToSubCategory" message="tns:IProdService_GetProductsAccordingToSubCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdService/GetProductsAccordingToSubCategoryResponse" message="tns:IProdService_GetProductsAccordingToSubCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ControlStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdService/ControlStock" message="tns:IProdService_ControlStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdService/ControlStockResponse" message="tns:IProdService_ControlStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductV">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdService/GetProductV" message="tns:IProdService_GetProductV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdService/GetProductVResponse" message="tns:IProdService_GetProductV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductID">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdService/GetProductID" message="tns:IProdService_GetProductID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdService/GetProductIDResponse" message="tns:IProdService_GetProductID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdService/CheckStock" message="tns:IProdService_CheckStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdService/CheckStockResponse" message="tns:IProdService_CheckStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdService/GetStock" message="tns:IProdService_GetStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdService/GetStockResponse" message="tns:IProdService_GetStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdService/GetProductsList" message="tns:IProdService_GetProductsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdService/GetProductsListResponse" message="tns:IProdService_GetProductsList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProdService" type="tns:IProdService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IProdService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts1">
      <soap:operation soapAction="http://tempuri.org/IProdService/GetProducts1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IProdService/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsAccordingToSubCategory">
      <soap:operation soapAction="http://tempuri.org/IProdService/GetProductsAccordingToSubCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ControlStock">
      <soap:operation soapAction="http://tempuri.org/IProdService/ControlStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductV">
      <soap:operation soapAction="http://tempuri.org/IProdService/GetProductV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductID">
      <soap:operation soapAction="http://tempuri.org/IProdService/GetProductID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStock">
      <soap:operation soapAction="http://tempuri.org/IProdService/CheckStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStock">
      <soap:operation soapAction="http://tempuri.org/IProdService/GetStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsList">
      <soap:operation soapAction="http://tempuri.org/IProdService/GetProductsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProdService">
    <wsdl:port name="BasicHttpBinding_IProdService" binding="tns:BasicHttpBinding_IProdService">
      <soap:address location="http://localhost:54100/ProdService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>