TraderMarket/Service References/ProdService/ProdService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Commonlayer.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Commonlayer.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductView" nillable="true" type="tns:ProductView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductView" nillable="true" type="tns:ArrayOfProductView" />
  <xs:complexType name="ProductView">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="SubC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isActive" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductView" nillable="true" type="tns:ProductView" />
  <xs:complexType name="ArrayOfCartView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartView" nillable="true" type="tns:CartView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartView" nillable="true" type="tns:ArrayOfCartView" />
  <xs:complexType name="CartView">
    <xs:sequence>
      <xs:element minOccurs="0" name="datepurchased" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prodi" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartView" nillable="true" type="tns:CartView" />
  <xs:complexType name="ArrayOfCategoryView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryView" nillable="true" type="tns:CategoryView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryView" nillable="true" type="tns:ArrayOfCategoryView" />
  <xs:complexType name="CategoryView">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryView" nillable="true" type="tns:CategoryView" />
  <xs:complexType name="ArrayOfShoppingCartView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingCartView" nillable="true" type="tns:ShoppingCartView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingCartView" nillable="true" type="tns:ArrayOfShoppingCartView" />
  <xs:complexType name="ShoppingCartView">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="paykey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCartView" nillable="true" type="tns:ShoppingCartView" />
</xs:schema>