TraderMarket/Service References/UserService/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Commonlayer.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Commonlayer.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCreditCardView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditCardView" nillable="true" type="tns:CreditCardView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditCardView" nillable="true" type="tns:ArrayOfCreditCardView" />
  <xs:complexType name="CreditCardView">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardOwner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:decimal" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCardView" nillable="true" type="tns:CreditCardView" />
  <xs:complexType name="ArrayOfRolesView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolesView" nillable="true" type="tns:RolesView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolesView" nillable="true" type="tns:ArrayOfRolesView" />
  <xs:complexType name="RolesView">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolesView" nillable="true" type="tns:RolesView" />
</xs:schema>