TraderMarket/Service References/UserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54100/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54100/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54100/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Commonlayer" />
      <xsd:import schemaLocation="http://localhost:54100/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Commonlayer.Views" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_isAuthenticationValid_InputMessage">
    <wsdl:part name="parameters" element="tns:isAuthenticationValid" />
  </wsdl:message>
  <wsdl:message name="IUserService_isAuthenticationValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:isAuthenticationValidResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DoesUsernameExist_InputMessage">
    <wsdl:part name="parameters" element="tns:DoesUsernameExist" />
  </wsdl:message>
  <wsdl:message name="IUserService_DoesUsernameExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoesUsernameExistResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DoesEmailExist_InputMessage">
    <wsdl:part name="parameters" element="tns:DoesEmailExist" />
  </wsdl:message>
  <wsdl:message name="IUserService_DoesEmailExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoesEmailExistResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPublicKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicKey" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPublicKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRoles" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserRolesV_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRolesV" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserRolesV_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRolesVResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPrivateKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivateKey" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPrivateKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivateKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="isAuthenticationValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/isAuthenticationValid" message="tns:IUserService_isAuthenticationValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/isAuthenticationValidResponse" message="tns:IUserService_isAuthenticationValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddUser" message="tns:IUserService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddUserResponse" message="tns:IUserService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoesUsernameExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DoesUsernameExist" message="tns:IUserService_DoesUsernameExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DoesUsernameExistResponse" message="tns:IUserService_DoesUsernameExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoesEmailExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DoesEmailExist" message="tns:IUserService_DoesEmailExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DoesEmailExistResponse" message="tns:IUserService_DoesEmailExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUser" message="tns:IUserService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserResponse" message="tns:IUserService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllUsers" message="tns:IUserService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllUsersResponse" message="tns:IUserService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUser" message="tns:IUserService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserResponse" message="tns:IUserService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPublicKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetPublicKey" message="tns:IUserService_GetPublicKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetPublicKeyResponse" message="tns:IUserService_GetPublicKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserRoles" message="tns:IUserService_GetUserRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserRolesResponse" message="tns:IUserService_GetUserRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRolesV">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserRolesV" message="tns:IUserService_GetUserRolesV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserRolesVResponse" message="tns:IUserService_GetUserRolesV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrivateKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetPrivateKey" message="tns:IUserService_GetPrivateKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetPrivateKeyResponse" message="tns:IUserService_GetPrivateKey_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isAuthenticationValid">
      <soap:operation soapAction="http://tempuri.org/IUserService/isAuthenticationValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoesUsernameExist">
      <soap:operation soapAction="http://tempuri.org/IUserService/DoesUsernameExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoesEmailExist">
      <soap:operation soapAction="http://tempuri.org/IUserService/DoesEmailExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublicKey">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetPublicKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRolesV">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserRolesV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrivateKey">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetPrivateKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:54100/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>