TraderMarket/Service References/OrderService/OrderService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Commonlayer.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Commonlayer.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UsernameSeller" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderView" nillable="true" type="tns:OrderView" />
  <xs:complexType name="OrderedProducts">
    <xs:sequence>
      <xs:element minOccurs="0" name="Array" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderedProducts" nillable="true" type="tns:OrderedProducts" />
  <xs:complexType name="ArrayOfOrderedProducts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderedProducts" nillable="true" type="tns:OrderedProducts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderedProducts" nillable="true" type="tns:ArrayOfOrderedProducts" />
</xs:schema>